*{
  margin:0 auto;
}

.boss1{
  width: 914px;
  height: 124px;
  /*background: red;*/
}
.div1{
  width: 914px;
  height: 31px;
  background: gray;

}
.div2{
  /*background: pink;*/
  margin-top: 20px;
}
.img1{

  float: left;

}
.img2{
  float: right;
  margin-top: 9px;
}

.boss2{
  width: 914px;
  height: 215px;
  margin-top: 20px;
  margin-bottom: 10px;
}


.boss3{
  width: 914px;
  height: 836px;
  /*background: blue;*/
  margin-top: 10px;

}
.left{
  width: 327px;
  height: 836px;
  /*background: red;*/
  float: left;
    border: 2px solid gray;
}
.shipin{
  width: 327px;
  height: 285px;
  background: black;~~~~~~~~~~~~~~~~~~~~~~~~~~~
}
.chakan{
  width: 327px;
  height: 195px;

  margin-top: 10px;
}
.biaoti{
  width: 310px;
  height: 28px;
  /*background: red;*/
  background:rgb(235, 235, 233);
  margin:0 auto;
  border: 2px solid gray;
  border-radius: 5px;

}
.font1{

  width: 48px;
  text-decoration: none;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: bolder;
  color: black;
  padding: 3px 5px;



}
.jiudian {
  width:310px;
  height: 157px;
  color: white;
  margin-left: 10pxl;
  font-size: 13px;
  background:rgb(235, 235, 233);
  border: 1px solid gray;
  border-radius: 5px;

}
.haounge div{
  float: right;

}
#font0{
  font-size: 13px;
  text-align: center;
  color: gray;
}
.hot span {
  font-size: 6px;
  margin-left: 20px;

}
span a{
  text-decoration: none;
  color: red;
}

.haolunge img{
  float: left;
}
.p1{
  text-align: center;
  text-decoration: none;
  margin-left: 10px;
}
.p1 a {
  display:block;
  margin-top: 25px;
  text-align: left;

}


.jiudian img{
  width: 66px;
  height: 66px;
  float: left;


}
.jiudian p{
  width: 70px;
  margin-left: 200px;
  margin-bottom: 150px;
  float: right;

  left: 50;

}
.p1{
  width:144px;
  height: 66px;
  background: gray;
  float: left;
  margin-top: 10px;
  text-align: center;

}
.mianfei{
  width: 327px;
  height:327px;
  /*background: brown;*/
  margin-top: 19px;
}
#tiyan{
  font-size: 16px;
  color: white;
  margin-left: 8px;
  margin-top: 5px;
  float: left;
}
.mianfei1{
  width: 327px;
  height: 33px;
  background: gray;
}
.mianfei2{
  width: 327px;
  height: 79px;
  /*background: blue;*/
}
.mianfei3{
  width: 327px;
  height: 215px;
  /*background: green;*/
  float: left;
}




.zuo{
  width: 154px;
  height: 107;
  /*background: blue;*/
  float: left;

}

.font14{
  width: 100px;
  height: 16px;
color: gray;
border-left:4px solid red;
margin-left: 10px;
font-size: 16px;
margin-bottom: 10px;
margin-top: 20px;






}
.zuo img{
  border: 1px solid gray;
  margin-bottom: 0px;
  margin-left: 10px;
  float: left;

}
span b{
  width: 140px;
  color: red;
  margin-left: 8px;
  margin-top: 10px;
  float: left;
}

.b{
  color: red;
  /*margin-left: 10px;*/

  /*float: left;*/

}
.dongdu p{
  /*float: left;*/

}
.you{
  width: 144px;
  height: 107;
  /*background: yellow;*/
  float: right;
}
.you, div1{
  font-size: 14px;
  float: left;
}


.ai1{
  float: left;
  /*padding-top: 12px;*/
  margin-top: 5px;
}
.dvi1{
  float: left;
  /*padding-top: 12px;*/
  margin-top: 5px;
  color: red;
}
.right{
  width: 573px;
  height: 836px;
  /*background: skyblue;*/
  float: right;
}
.hot{
  width: 573px;
  height:375px;
  /*background: purple;*/
}
.bowen{
  width: 573px;
  height: 34px;
  background:dimgray;


}
h3{
  font-size: 20px;
  margin-top: 5px;
  text-align:left;
  padding-top: 5px;
  color: white;




}
h3 a{
  font-size: 8px;
  margin-top: 5px;
  color: inherit;
  text-decoration:none;
}


.wawa{
  width: 573px;
  height: 115px;
  background: skyblue;
}
.haolunge{
  width: 567px;
  height:220px;
  /*background: pink;*/
  border: 3px solid gray;
}
.haounge img{
  width: 70px;
  height: 70px;

}
.haolunge p{
  font-size: 12px;
  float: right;
}
.hot1{
  width: 238px;
  height: 70px;
  /*background: green;*/
  margin-left: 30px;
  margin-top: 30px;
  float: left;
}
.hot2{
  width: 238px;
  height: 70px;
  /*background: green;*/
  margin-right: 30px;
  margin-top: 30px;
  float: right;
}
.hot3{
  width: 238px;
  height: 70px;
  /*background: green;*/
  margin-left: 30px;
  margin-top: 30px;
  float: left;
}
.hot4{
  width: 238px;
  height: 70px;
  /*background: green;*/
  margin-right: 30px;
  margin-top: 30px;
  float: right;
}
.tupian{
  width: 573px;
  height: 416px;
  /*background: red;*/
  margin-top: 20px;

}
.tu1{
  width: 282px;
  height:416px;
  /*background: tomato;*/
  float: left;

}

.tu2{
  width: 282px;
  height:416px;
  /*background: orange;*/
  float: right;

}



.boss4{
  width: 914px;
  height: 56px;
  margin-top: 20px;
  background: gray;
}
.box1 a{
  color: white;
  font-size: 12px;
  text-decoration: none;
  line-height: 25px;
  margin-left:398px;


}
.box2{
  color: white;
  font-size: 10px;
  margin-top: 15px;
  margin-left: 340px;

}


.jiudian, a{
  text-decoration: none;
  color: #ffffff;
}

